<% layout('layouts/boilerplate.ejs') -%>
<h1 class="text-center">New Campground</h1>
<form
  action="/campgrounds"
  enctype="multipart/form-data"
  method="POST"
  class="needs-validation"
  novalidate
>
  <div class="mt-3 w-75 m-auto d-flex flex-column">
    <div class="mb-2">
      <label class="form-label" for="name">Title</label>
      <input
        type="text"
        id="title"
        class="form-control"
        name="title"
        required
      />
    </div>

    <div class="mb-2">
      <label class="form-label" for="location">Location</label>
      <input
        type="text"
        id="location"
        name="location"
        class="form-control"
        required
      />
    </div>
    <div class="mb-2">
      <label for="formFile" class="form-label">Add Images</label>
      <input
        class="form-control"
        type="file"
        name="image"
        id="formFile"
        multiple
      />
    </div>
    <div class="mb-2">
      <label class="form-label" for="price">Price</label>
      <input
        type="text"
        id="price"
        name="price"
        class="form-control"
        required
      />
    </div>
    <div class="mb-2">
      <label class="form-label" for="description">Description</label>
      <textarea
        name="description"
        class="form-control"
        id="description"
        required
      ></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
  </div>
</form>
